.search-autocomplete-container {
  height: calc(100vh - 70px);
}

.autocomplete-container {
  padding: 6rem;
}

.auto-complete-input {
  padding: 0.3rem;
  width: 300px;
  font-size: 1rem;
  height: 1.4rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
}

.auto-complete-input:focus {
  outline: 0;
  outline: 2px solid purple;
  outline-offset: 2px;
}

.suggestions {
  position: relative;
}

ul.dropdown {
  position: absolute;
  padding: 0;
  border: 1px solid gray;
  width: 310px;
  margin-top: 6px;
  border-radius: 0.5rem;
  max-height: 200px;
  overflow-y: auto;
}
ul.dropdown li{
  list-style-type: none;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
}
ul.dropdown li:nth-child(1) {
  border-radius: 0.4rem 0.4rem 0 0;
}
ul.dropdown li:hover{
  background-color: rgb(218, 167, 218);
}