h1.qr-heading {
  margin: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label{
  margin-bottom: 0.5rem;
}
.form-field-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-field-inline input{
  width: 256px;
  padding: 0.5rem 0.4rem;
  font-size: 16px;
  height: 26px;
}
.form-field-inline button{
  margin-left: 0.5rem;
  padding: 0.5rem 0.4rem;
  height: 100%;
  font-size: 16px;
}

.qr-output {
  display: block;
  height: 256px;
}
.qr-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}