.github-container {
  height: calc(100vh - 120px);
}
.result-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form {
  display: flex;
  align-items: center;
  position: relative;
}
.search-form #search-input {
  padding: 0.3rem;
  width: 300px;
  font-size: 1rem;
  height: 1.4rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
}

.search-form #search-input:focus {
  outline: 0;
  /* box-shadow: -3px -3px 0px skyblue, -3px 3px 0px skyblue, 3px -3px 0px skyblue, 3px 3px 0px skyblue; */
  outline: 2px solid purple;
  outline-offset: 2px;
}

.search-form .search-btn {
  padding: 0.5rem;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  cursor: pointer;
  border-radius: 0 0.6rem 0.6rem 0;
  border: 1px solid purple;
  background-color: purple;
  color: white;
  position: absolute;
  right: 0;
}

.search-form .search-btn:disabled {
  cursor: not-allowed;
  border: 1px solid #9e7f9e;
  background-color: #9e7f9e;
}

.card {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0.5px 0.5px 6px #c5c5c5;
  background-color: white;
}
.profile-img {
  height: 8rem;
  border-radius: 50%;
}
.user-info {
  width: 280px;
}
.key {
  font-weight: bold;
  color: purple;
}
.error,
.searching {
  padding: 1rem;
}
.error {
  color: red;
}
