#root {
  font-family: 'Tahoma', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
  font-family: 'Tahoma', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.bg-accordion {
  background-color: beige;
}
.bg-slider {
  background-color: bisque;
}
.bg-star {
  background-color: purple;
  color: white;
}
.bg-products {
  background-color: rgb(232, 232, 232);
}
.bg-treeview{
  background-color: #272727;
}
.bg-qrcode {
  background-color: transparent;
}