#root {
  font-family: 'Tahoma', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
  font-family: 'Tahoma', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.bg-accordion {
  background-color: beige;
}
.bg-slider {
  background-color: bisque;
}
.bg-star {
  background-color: #2e0a2e;
  color: white;
}
.bg-products {
  background-color: #b2bfc3;
}
.bg-treeview{
  background-color: #272727;
}
.bg-qrcode {
  background-color: #b2bfc3;
}
.bg-tabs {
  background-color: #f1f1f1;
}
.bg-modaltest {
  background-color: #c4db66;
}