.accordion-wrapper {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  gap: 20px;
}

.enable-btn {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid darkolivegreen;
  background-color: darkolivegreen;
  color: white;
  font-size: 1rem;
}

.enable-btn:hover {
  border: 1px solid #3d501d;
  background-color: #3d501d;
}

.enable-btn:active {
  border: 1px solid #2e3b16;
  background-color: #2e3b16;
}

.accordion {
  width: 728px;
  margin-bottom: 3rem;
}

.accordion-item {
  margin: 1rem;
  background-color: rgb(50, 65, 26);
  color: white;
}
.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  background-color: darkolivegreen;
}
.accordion-title:hover {
  background-color: rgb(66, 85, 33);
}
.accordion-title h3 {
  margin: 0
}
.accordion-body {
  padding: 1rem;
  text-align: left;
}