.navbar {
  position: fixed;
  height: 65px;
  width: 100vw;
  background-color: darkgreen;
  z-index: 10;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.navbar h3 {
  margin: 1.2rem;
}
.navbar .scroll-indicator-container {
  width: 100vw;
  background-color: greenyellow;
  height: 0.5rem;
}
.navbar .scroll-indicator-container .scroll-indicator {
  height: 0.5rem;
  background-color: #cf2a69;
}